---
import GitHub from "./icons/GitHub.astro"
import ReactIcon from "./icons/React.astro"
import ViteIcon from "./icons/Vite.astro"
import MongoIcon from "./icons/Mongo.astro"
import JavaScriptIcon from "./icons/JavaScript.astro";
import HTMLIcon from "./icons/HTML.astro";
import CSSIcon from "./icons/CSS.astro";
import BootstrapIcon from "./icons/Bootstrap.astro";
import WordpressIcon from "./icons/Wordpress.astro";
import PHPIcon from "./icons/PHP.astro";
import MySQLIcon from "./icons/MySQL.astro";
import LibreOfficeIcon from "./icons/LibreOffice.astro";
import PlayIcon from "./icons/PlayIcon.astro";
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: ReactIcon,
  },
  VITE: {
    name: "Vite",
    class: "bg-gray-700 text-white",
    icon: ViteIcon,
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-green-500 text-white",
    icon: MongoIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-500 text-white",
    icon: JavaScriptIcon,
  },
  HTML: {
    name: "HTML",
    class: "bg-orange-500 text-white",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-500 text-white",
    icon: CSSIcon,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-violet-500 text-white",
    icon: BootstrapIcon,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-blue-600 text white",
    icon: WordpressIcon,
  },
  PHP: {
    name: "PHP",
    class: "bg-blue-300 text white",
    icon: PHPIcon,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-blue-400 text white",
    icon: MySQLIcon,
  },
  LIBREOFFICE: {
    name: "LibreOffice",
    class: "bg-green-400 text white",
    icon: LibreOfficeIcon,
  }
}

const PROJECTS = [
{
  title: "Campus Virtual",
  description:
    "Lideré el desarrollo y mantenimiento de un campus virtual, mejorando continuamente la experiencia del usuario. Implementé mejoras visuales y funcionales para optimizar la usabilidad y la estética, asegurando una plataforma intuitiva y atractiva para los estudiantes.",
  link: "https://www.hugolescano.com/campus/",
  image: "/projects/campus-web-2023.jpg",
  tags: [TAGS.WORDPRESS, TAGS.PHP, TAGS.MYSQL, TAGS.LIBREOFFICE],
},
{
  title: "E-commerce Eventos",
  description:
    "Me encargué del desarrollo y mantenimiento de un E-commerce dedicado a cursos y conferencias. Mi responsabilidad incluía la gestión y actualización constante del contenido, así como la supervisión de garantizar el correcto funcionamiento del carrito de compras y la integración fluida de las estadísticas de ventas para la toma de decisiones.",
  link: "https://wisetraining.com.ar/",
  image: "/projects/wisetraining-web.jpg",
  tags: [TAGS.WORDPRESS, TAGS.PHP, TAGS.MYSQL],
},
  {
    title: "Galería de Arte Virtual",
    description:
      "Participé en un equipo de desarrollo ágil con sprints de una semana presentándole a un Product Owner avances sobre el desarrollo de una app completa de un E-commerce con diseño y desarrollo de las siguientes features: (CRUD de productos, auth, catálogo, checkout, emails transaccionales, dashboard, etc.).",
    link: "https://pf-arts-client.vercel.app/",
    github: "https://github.com/AnabellaSimonpietri/PF-Arts-Client",
    videoLink: "https://youtu.be/1jWtWJrzroA",
    image: "/projects/Home.art.png",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.VITE, TAGS.MONGO, TAGS.BOOTSTRAP, TAGS.CSS],
  },
//   {
//     title: "Pink Dogs App",
//     description:
//       "Experiencia académica, Henry Bootcamp. Diseñar y desarrollar una App de perros que incluía: búsquedas, formulario, filtrados combinados, ordenamientos, baneo de usuarios, creación, etc.",
//     link: "https://www.youtube.com/watch?v=pVGcv2UtLRg",
//     github: "https://github.com/AnabellaSimonpietri/Dog-app",
//     image: "/projects/",
//     tags: [TAGS.REACT],
//   },
{
    title: "Weather App",
    description:
      "Desarrollé una aplicación intuitiva con la funcionalidad de proporcionar información meteorológica precisa según la ubicación del usuario.",
    link: "https://anabellasimonpietri.github.io/Weather-Pink-App/",
    github: "https://github.com/AnabellaSimonpietri/Weather-Pink-App",
    image: "/projects/app.clima.png",
    tags: [TAGS. JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
 ]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, videoLink  }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Imagen de proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
  {github && (
    <LinkButton href={github}>
      <GitHub class="size-6" />
      Code
    </LinkButton>
  )}
  {link && (
    <LinkButton href={link}>
      <Link class="size-4" />
      Preview
    </LinkButton>
  )}
  {videoLink && (
    <LinkButton href={videoLink} target="_blank">
      <PlayIcon class="w-4 h-4" /> Video
    </LinkButton>
  )}
</footer>

    </div>
  </div>
</article>
    ))
  }
</div>



